$colors: (
    neutral: (
        100: hsl(0, 0%, 93%),
        200: hsl(0, 0%, 97%),
        400: hsla(0, 0%, 39%, 1),
    ),
    accent: (
        100: hsla(0, 0%, 100%, 1),
        400: hsla(24, 35%, 68%, 1),
        700: hsla(163, 40%, 36%, 1),
    ),
    primary: (
        400: hsla(0, 0%, 39%, 1),
        700: hsla(163, 40%, 36%, 1),
        900: hsla(0, 0%, 13%, 1),
    )
)