@use "../abstracts" as *;

$fs-nav: map-get($map: $font-sizes, $key: 300);

@include medium() {
    $fs-nav: map-get($map: $font-sizes-mobile, $key: 400);
}

.mobile-nav-toggle {
    display: none;
}

@include desktop() {
    .primary-navigation {
        display: none;
        // Just a reminder
        // You can add animation transition and stuff like that here
    }

    .primary-navigation[data-visible] {
        display: block;
        position: fixed;
    }

    .mobile-nav-toggle {
        display: block;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: .5em;
    }
    
    .mobile-nav-toggle {
        .icon-close {
            display: none;
        }
    }
}