@use "../abstracts" as *;

$alignments: ("center", "space-between", "space-around", "space-evenly", "flex-start", "flex-end");

@each $align in $alignments {
  .justify-#{$align} {
    justify-content: #{$align};
  }

  .items-#{$align} {
    align-items: #{$align};
  }

  .justify-items-#{$align} {
    justify-items: #{$align};
  }

  .content-#{$align} {
    align-content: #{$align};
  }
}

.flex {
    display: flex;
}

// Даже не знаю куда засунуть этот класс
.display-sm-none {
  display: none;
}

@include medium() {
  .display-md-inline-flex {
    display: inline-flex;
  }
} 